@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #ffffff;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background: linear-gradient(90deg, #00008B, #22D4FD);
    color: var(--cor-secundaria);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: white;
    margin-top: -45px;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    color: white;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.apresentacao__links__navegação{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.apresentação__imagem{
    width: 50%;
    margin-top: -50px;
    margin-right: -150px;
    border-radius: 25px;
}

.rodape,
.rodape__texto {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}

@media (max-width: 720px) {
    .apresentacao{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 5% 5%;
    }

    .apresentacao__conteudo{
        width: 70%;
    }

    .apresentacao__conteudo__texto{
        text-align: justify;
    }

    .apresentação__imagem{
        width: 300px;
        margin: 0;
        padding: 0;
    }

    .cabecalho {
        display: flex;
        justify-content: center;
        padding: auto;
        margin: 0%;
    }

    .apresentacao__links__navegação {
        width: 300px;
    }
}
